<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🏒 Hockey Teams 🥅</title>
</head>
<body>
    <h1>Hockey Teams</h1>
    <p>
        {% for team in teams %}
        <li>The {{team.team_name}} are coached by {{team.coach}} and they are #{{team.id}} position in the league</li>
        <img src={{team.logo}} width='200' height='200' alt='team logos'/>
        {% endfor %}
    </p>
</body>
</html>